@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* .italiana-regular {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav {
  font-family: "Italiana", sans-serif;
  font-weight: bold;
}

.offcanvas-body {
  font-size: 20px;
}

.offcanvas-title {
  font-weight: bold;
}

footer {
  padding: 15px;
  margin-top: 15px;
  background-color: #ed2525;
  font-family: "Italiana", sans-serif;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  text-align: center;
}
footer .footer-icon {
  align-self: center;
}
footer .footer-icon {
  align-self: center;
}
footer .footer-icon img {
  width: 50px;
  margin: 15px;
}

.d-block {
  width: 25%;
  height: 700px;
  object-fit: cover;
}

.About {
  display: flex;
  flex-direction: column;
}

.About h1 {
  margin: 20px;
  font-family: "Italiana", sans-serif;
  font-weight: bold;
  text-align: center;
}

.About h2 {
  margin: 20px;
  font-family: "Italiana", sans-serif;
  font-weight: bold;
  text-align: center;
}

.About .about-text {
  font-family: "Italiana", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: auto;
  margin-bottom: 15px;
  width: 50%;
  height: auto;
  text-align: center;
}

.iframe {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  padding: 10px;
}

iframe {
  width: 20%;
  height: 300px;
}

.info-if {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
  margin-left: auto;
}

.info-if p {
  font-size: 18px;
  text-align: center;
  width: 65%;
}

.nosotros {
  display: flex;
  flex-direction: row;
}

.nosotros-text {
  font-family: "Italiana", sans-serif;
  font-size: 20px;
  font-weight: bold;
  justify-content: flex-start;
  margin: 30px;
}

.nosotros img {
  margin: 30px;
  width: 600px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  grid-template-areas: " a8 a8 a2 a2  " " a3 a4 a5 a5  " "a1 a1 a6 a7";
}

.box {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  box-shadow: 3px 3px 3px 3px rgba(25, 25, 25, 0.2549019608);
  border-radius: 1%;
  min-height: 400px;
  max-height: 100%;
}

.hero-container {
  margin-top: 20px;
  align-items: center;
}

.hero-card {
  display: flex;
  border: 1px solid #e64545;
}

.hero-card img {
  width: 450px;
}

.hero-card-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hero-card-content p {
  text-align: center;
  font-size: 25px;
  width: 100%;
}

.hero-card-content h2 {
  text-align: center;
  width: 100%;
}

.hero-card-content a {
  text-decoration: none;
  margin: auto;
  background-color: #e64545;
  color: #ffffff;
  font-size: 20px;
  padding: 5px;
}

.main-contact {
  background-image: url(../assets/chad-montano-MqT0asuoIcU-unsplash.jpg);
  width: 100%;
  height: 100vw;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: top;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-contact div {
  margin: 30px 30px;
}

.main-contact div input {
  height: 30px;
  width: 300px;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.main-contact div textarea {
  height: 150px;
  width: 300px;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.main-contact div button {
  height: 40px;
  width: 300px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.main-contact div button:hover {
  background-color: #191919;
  border: 1px solid #ffffff;
  color: #ffffff;
}

li a:hover {
  border: 1px solid #191919;
  border-radius: 10%;
  transform: scale(1.05);
  transition: 0.4s;
}

.bg-danger {
  color: #E8C443;
}

nav {
  font-family: "Italiana", sans-serif;
  font-weight: bold;
}

.offcanvas-body {
  font-size: 20px;
}

.offcanvas-title {
  font-weight: bold;
}

.d-block {
  width: 25%;
  height: 700px;
  object-fit: cover;
}

.About {
  display: flex;
  flex-direction: column;
}

.About h1 {
  margin: 20px;
  font-family: "Italiana", sans-serif;
  font-weight: bold;
  text-align: center;
}

.About h2 {
  margin: 20px;
  font-family: "Italiana", sans-serif;
  font-weight: bold;
  text-align: center;
}

.About .about-text {
  font-family: "Italiana", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: auto;
  margin-bottom: 15px;
  width: 50%;
  height: auto;
  text-align: center;
}

.iframe {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  padding: 10px;
}

iframe {
  width: 20%;
  height: 300px;
}

.info-if {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
  margin-left: auto;
}

.info-if p {
  font-size: 18px;
  text-align: center;
  width: 65%;
}

/*Sobre Nosotros*/
.nosotros {
  display: flex;
  flex-direction: row;
}

.nosotros-text {
  font-family: "Italiana", sans-serif;
  font-size: 20px;
  font-weight: bold;
  justify-content: flex-start;
  margin: 30px;
}

.nosotros img {
  margin: 30px;
  width: 600px;
}

/** GRID-Pizzas**/
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  grid-template-areas: " a8 a8 a2 a2  " " a3 a4 a5 a5  " "a1 a1 a6 a7";
}

hover .box {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  box-shadow: 3px 3px 3px 3px rgba(25, 25, 25, 0.2549019608);
  border-radius: 1%;
  min-height: 400px;
  max-height: 100%;
}

/*mediaqueris*/
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: " a1 a2 a3  " " a4 a5 a6  " " a7 a7 a8 ";
  }
}
.b1 {
  grid-area: a1;
}

.b2 {
  grid-area: a2;
}

.b3 {
  grid-area: a3;
}

.b4 {
  grid-area: a4;
}

.b5 {
  grid-area: a5;
}

.b6 {
  grid-area: a6;
}

.b7 {
  grid-area: a7;
}

.b8 {
  grid-area: a8;
}

/*shop*/
.hero-container {
  margin-top: 20px;
  align-items: center;
}

.hero-card {
  display: flex;
  border: 1px solid #e64545;
}

.hero-card img {
  width: 450px;
}

.hero-card-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hero-card-content p {
  text-align: center;
  font-size: 25px;
  width: 100%;
}

.hero-card-content h2 {
  text-align: center;
  width: 100%;
}

.hero-card-content a {
  text-decoration: none;
  margin: auto;
  background-color: #e64545;
  color: #ffffff;
  font-size: 20px;
  padding: 5px;
}

/**contact-form**/
.main-contact {
  background-image: url(../assets/chad-montano-MqT0asuoIcU-unsplash.jpg);
  width: 100%;
  height: 50vw;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: top;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-contact div {
  margin: 30px 30px;
}

.main-contact div input {
  height: 30px;
  width: 300px;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.main-contact div textarea {
  height: 150px;
  width: 300px;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.main-contact div button {
  height: 40px;
  width: 300px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.main-contact div button:hover {
  background-color: #191919;
  border: 1px solid #ffffff;
  color: #ffffff;
}

li a:hover {
  border: 1px solid #191919;
  border-radius: 10%;
  transform: scale(1.05);
  transition: 0.4s;
}

footer {
  padding: 15px;
  margin-top: 15px;
  background-color: #E8C443;
  font-family: "Italiana", sans-serif;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer .footer-icon {
  align-self: center;
}

footer .footer-icon img {
  width: 50px;
  margin: 15px;
}

/*# sourceMappingURL=style.css.map */
