.nosotros-body {
    display:flex;
    
  

}

.nosotros-text {
    font-family: 'Italiana', sans-serif;
    font-size: 20px;
    font-weight: bold;
    justify-content: flex-start;
    margin: 30px;

}

.nosotros-body img {
    margin: 30px;
    width: 600px;
}
@media (max-width:1200px){
    .nosotros-body{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px 15px;
        box-sizing: border-box;
    }
    .nosotros-body img {
       
        width: 90%;
    }
}