.nosotros {
    display: flex;
    flex-direction: row;

}

.nosotros-text {
    font-family:  sans-serif;
    font-size: 20px;
    font-weight: bold;
    justify-content: flex-start;
    margin: 30px;

}

.nosotros img {
    justify-content: center;
    margin: 30px;
    width: 600px;
}